{% extends 'base.html.twig' %}

{% block title %}Nouvelle Playlist{% endblock %}

{% block body %}
    <h1>Créer une nouvelle playlist</h1>

    {{ include('pages/playlist/_form.html.twig') }}

    <a href="{{ path('app_playlist') }}">Retour à la liste</a>
{% endblock %}
