{% extends "base.html.twig" %}

{% block title %}SymMusic - Accueil
{% endblock %}

        {% block body %}
            <div class="mx-40">
                <div class="text-center">
                    <h1 class="mt-10 text-3xl text-red-500 font-bold mx-auto">Bienvenue sur SymMusic </h1>
                    <p class="mt-8 mx-52"> symMusic, la plateforme pour créer, partager et découvrir des playlists musicales uniques. Exprimez votre passion, créez des ambiances et connectez-vous avec une communauté musicale vibrante. Créez, partagez, découvrez avec symMusic. <p>
                    <hr class="mt-8 border-black">
                    <p class="mt-8"> Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application. </p>
                   <div class="text-center mt-8">
                        <a class="bg-orange-600 p-2 rounded-xl" href="" role="button">Inscription</a>
                    </div>


                </div>
            </div>
        {% endblock %}

